
<div class="pull-right">
  <%= link_to "添加人员", new_person_path, class: "btn btn-primary" %>
</div>

<% Category.find_each do |category| %>
  <div class='btn-group clearfix btn btn-menu'>
      <%= link_to(category.name, people_path(people_filiters(:category => category)))%>
  </div>
<% end %>


<%= form_tag search_people_path, class:"navbar-form navbar-left", method: :get do %>
  <input type="text" name="search_message" value="<%= params[:search_message] %>" class="form-control search-input"
    placeholder="输入姓名或者编号">
  <button type="submit" class="btn btn-default">搜索</button>
<% end %>


<div class="right-box">
  <div class="dropdown btn-group clearfix">
    <% if params[:order].present? %>
      <button class="btn btn-reorder dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:order] %> <span class="caret"></span>
      </button>
    <% else %>
      <button class="btn btn-reorder dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         默认 <span class="caret"></span>
      </button>
    <% end %>

    <!-- 選項：列出排序方式 -->
    <ul class="reorder dropdown-menu ">
      <li><%= link_to("默认排序", people_path) %></li>
      <li><%= link_to("按年龄降序排序", people_path( people_filiters(:order => "按年龄降序排序") ))%></li>
      <li><%= link_to("按年龄升序排序", people_path( people_filiters(:order => "按年龄升序排序") ))%></li>
      <li><%= link_to("按来院时间降序排序", people_path( people_filiters(:order => "按来院时间降序排序") ))%></li>
      <li><%= link_to("按来院时间升序排序", people_path( people_filiters(:order => "按来院时间降序排序") ))%></li>
    </ul>
  </div>
</div>
