
<div class="pull-right">
  <%= link_to "添加人员", new_person_path, class: "btn btn-primary" %>
</div>

<br>
<div>

  <%= form_tag search_people_path, class:"navbar-form navbar-left", method: :get do %>
    <input type="text" name="search_message" value="<%= params[:search_message] %>" class="form-control search-input"
      placeholder="输入姓名或者编号" required>
    <button type="submit" class="btn btn-default">搜索</button>
  <% end %>

  <!-- 排序方式 -->
  <div class="dropdown btn-group sift-menu">
    <% if params[:order].present? %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:order] %> <span class="caret"></span>
      </button>
    <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         默认 <span class="caret"></span>
      </button>
    <% end %>

    <ul class="dropdown-menu">
      <li><%= link_to("默认排序", people_path( people_filiters( :order => "" ) )) %></li>
      <li><%= link_to("按年龄降序排序", people_path( people_filiters(:order => "按年龄降序排序") ))%></li>
      <li><%= link_to("按年龄升序排序", people_path( people_filiters(:order => "按年龄升序排序") ))%></li>
      <li><%= link_to("按来院时间降序排序", people_path( people_filiters(:order => "按来院时间降序排序") ))%></li>
      <li><%= link_to("按来院时间升序排序", people_path( people_filiters(:order => "按来院时间降序排序") ))%></li>
    </ul>
  </div>

  <!-- 分类筛选 -->
  <div class="dropdown btn-group clearfix sift-menu">
    <% if params[:category].present? %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= category_people_count(@category) %> <span class="caret"></span>
      </button>
    <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         所有人员 ( <%= @all_people_count %>人 ) <span class="caret"></span>
      </button>
    <% end %>

    <ul class="dropdown-menu">
        <li><%= link_to("所有人员( #{ @all_people_count}人 )", people_path( people_filiters( :category => "" ) )) %></li>
      <% Category.find_each do |category| %>
        <li>
          <%= render_category_list(category) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
