<tr>
  <td><%= person.number %></td>
  <td><%= person.name %></td>
  <td><%= person.category.name %></td>
  <td><%= person.sex %></td>
  <td><%= person.age %></td>
  <td><%= person.work_position %></td>
  <td><%= person.title %></td>
  <td><%= person.political_status %></td>
  <td><%= person.education %></td>
  <td><%= person.working_time.strftime("%Y/%m/%d") %></td>
  <td><%= person.come_university_time.strftime("%Y/%m/%d") %></td>
  <td align="right">
    <%= link_to "编辑", edit_person_path(person) %>
    <%= link_to "删除", person_path(person), method: :delete, 'data-confirm': "确认删除吗?" %>
  </td>
</tr>
